doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')

    script(src='/es6-shim/es6-shim.min.js')
    script(src='/systemjs/dist/system-polyfills.js')
    script(src='/angular2/es6/dev/src/testing/shims_for_IE.js')

    script(src='/angular2/bundles/angular2-polyfills.js')
    script(src='/systemjs/dist/system.src.js')
    script(src='/rxjs/bundles/Rx.js')
    script(src='/angular2/bundles/angular2.dev.js')
    script(src='/javascripts/systemjs_conf.js')
  body
    block content